doctype html
html
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-169048653-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-169048653-1');

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='https://forms.gle/yVj29JB3WKBfBrM89').
      Send Feedback

    block content
